* {
    font-family: Arial, sans-serif;
}

#header {
    margin-top: 2rem;
    margin-bottom: 2rem;
    align-content: center;
    text-align: center;
}



.header-text {
    font-size: 2rem;
    text-decoration: none;
    color: rgb(1, 1, 151);
    padding-left: 2rem;
}

#middle-content {
    margin-left: 6rem;
    margin-right: 6rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}


